# Seattle Vacancy Rates

## Setup

### Import Python packages

In [2]:
import pandas
import censusdata

## Check out how information on vacancy is stored
There are exactly 22 variables in the 2015 American Community Survey that were related to the concept "vacancy."

In [3]:
samples = censusdata.search('acs5', 2015, 'concept', 'vacancy')
len(samples)

22

Here's a look at all of the vacancy-related information in ACS 2015.

In [6]:
for item in samples:
    print(item)

('B25004_001E', 'B25004.  Vacancy Status', 'Total:')
('B25004_001M', 'B25004.  Vacancy Status', 'Margin Of Error For!!Total:')
('B25004_002E', 'B25004.  Vacancy Status', 'For rent')
('B25004_002M', 'B25004.  Vacancy Status', 'Margin Of Error For!!For rent')
('B25004_003E', 'B25004.  Vacancy Status', 'Rented, not occupied')
('B25004_003M', 'B25004.  Vacancy Status', 'Margin Of Error For!!Rented, not occupied')
('B25004_004E', 'B25004.  Vacancy Status', 'For sale only')
('B25004_004M', 'B25004.  Vacancy Status', 'Margin Of Error For!!For sale only')
('B25004_005E', 'B25004.  Vacancy Status', 'Sold, not occupied')
('B25004_005M', 'B25004.  Vacancy Status', 'Margin Of Error For!!Sold, not occupied')
('B25004_006E', 'B25004.  Vacancy Status', 'For seasonal, recreational, or occasional use')
('B25004_006M', 'B25004.  Vacancy Status', 'Margin Of Error For!!For seasonal, recreational, or occasional use')
('B25004_007E', 'B25004.  Vacancy Status', 'For migrant workers')
('B25004_007M', 'B25004.  Vacancy Status', 'Margin Of Error For!!For migrant workers')
('B25004_008E', 'B25004.  Vacancy Status', 'Other vacant')
('B25004_008M', 'B25004.  Vacancy Status', 'Margin Of Error For!!Other vacant')
('B99253_001E', 'B99253.  IMPUTATION OF VACANCY STATUS', 'Total:')
('B99253_001M', 'B99253.  IMPUTATION OF VACANCY STATUS', 'Margin Of Error For!!Total:')
('B99253_002E', 'B99253.  IMPUTATION OF VACANCY STATUS', 'Imputed')
('B99253_002M', 'B99253.  IMPUTATION OF VACANCY STATUS', 'Margin Of Error For!!Imputed')
('B99253_003E', 'B99253.  IMPUTATION OF VACANCY STATUS', 'Not imputed')
('B99253_003M', 'B99253.  IMPUTATION OF VACANCY STATUS', 'Margin Of Error For!!Not imputed')

Here's a detailed table of just the information in table B25004. I think for the most part these are the variables we'll be most interested in. I'm not sure why we don't see margins of error here, though. We will definitely want those.

In [10]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B25004'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B25004_001E  | B25004.  Vacancy Status        | Total:                                                   | int
B25004_002E  | B25004.  Vacancy Status        | For rent                                                 | int
B25004_003E  | B25004.  Vacancy Status        | Rented, not occupied                                     | int
B25004_004E  | B25004.  Vacancy Status        | For sale only                                            | int
B25004_005E  | B25004.  Vacancy Status        | Sold, not occupied                                       | int
B25004_006E  | B25004.  Vacancy Status        | For seasonal, recreational, or occasional use            | int
B25004_007E  | B25004.  Vacancy Status        | For migrant workers                                      | int
B25004_008E  | B25004.  Vacancy Status        | Other vacant                                             | int
-------------------------------------------------------------------------------------------------------------------

## Zoom in on King County

### Let's start by getting the FIPS number for Washington State

In [7]:
states = censusdata.geographies(censusdata.censusgeo([("state", "*")]), "acs5", 2015)
states["Washington"]

censusgeo((('state', '53'),))

### Then we'll get the FIPS number for King County

In [15]:
counties = censusdata.geographies(
    censusdata.censusgeo([("state", "53"), ("county", "*")]), "acs5", 2015
)
counties["King County, Washington"]

censusgeo((('state', '53'), ('county', '033')))

### Download and store all King County census tracts

In [9]:
king_vac = censusdata.download(
    "acs5",
    2015,
    censusdata.censusgeo([("state", "53"), ("county", "033"), ("block group", "*")]),
    [
        "B25004_001E",
        "B25004_002E",
        "B25004_003E",
        "B25004_004E",
        "B25004_005E",
        "B25004_006E",
        "B25004_007E",
    ],
)

### Print and sort by "Sold, not occupied"
Note the large numbers of dwellings that are sold but not occupied in King County census tracts 70, 96, and 67. 

We'll want to compare this other number — perhaps with the total number of dwellings and total number of people — to put these numbers in context.

In [10]:
king_vac.sort_values(['B25004_005E'])

,B25004_001E,B25004_002E,B25004_003E,B25004_004E,B25004_005E,B25004_006E,B25004_007E
"Block Group 2, Census Tract 4.01, King County, Washington: Summary level: 150, state:53> county:033> tract:000401> block group:2",0,0,0,0,0,0,0
"Block Group 1, Census Tract 307, King County, Washington: Summary level: 150, state:53> county:033> tract:030700> block group:1",39,0,18,0,0,0,0
"Block Group 4, Census Tract 306, King County, Washington: Summary level: 150, state:53> county:033> tract:030600> block group:4",31,0,0,0,0,0,0
"Block Group 3, Census Tract 306, King County, Washington: Summary level: 150, state:53> county:033> tract:030600> block group:3",35,35,0,0,0,0,0
"Block Group 4, Census Tract 204.02, King County, Washington: Summary level: 150, state:53> county:033> tract:020402> block group:4",0,0,0,0,0,0,0
...,...,...,...,...,...,...,...
"Block Group 2, Census Tract 298.02, King County, Washington: Summary level: 150, state:53> county:033> tract:029802> block group:2",113,50,0,0,63,0,0
"Block Group 4, Census Tract 295.03, King County, Washington: Summary level: 150, state:53> county:033> tract:029503> block group:4",65,0,0,0,65,0,0
"Block Group 4, Census Tract 67, King County, Washington: Summary level: 150, state:53> county:033> tract:006700> block group:4",144,0,0,0,77,15,0
"Block Group 4, Census Tract 96, King County, Washington: Summary level: 150, state:53> county:033> tract:009600> block group:4",113,0,0,0,85,0,0
"Block Group 2, Census Tract 70, King County, Washington: Summary level: 150, state:53> county:033> tract:007000> block group:2",87,0,0,0,87,0,0